<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="boost_date_time-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_regex-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_serialization-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_system-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_thread-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_unit_test_framework-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="boost_wserialization-vc142" version="1.72.0.0" targetFramework="native" />
  <package id="Zstandard.dyn.x64" version="1.4.0" targetFramework="native" />
</packages>